<%= render "shared/header" %>

<div class="main">
  <p class="space">-</p>
  <!-- Swiper -->
  <div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide"><%= image_tag 'vac.jpeg', class: 'sl-image' %></div>
        <div class="swiper-slide"><%= image_tag 'xri.jpeg', class: 'sl-image' %></div>
        <div class="swiper-slide"><%= image_tag 'black.jpeg', class: 'sl-image' %></div>
        <div class="swiper-slide"><%= image_tag 'sumasu.jpeg', class: 'sl-image' %></div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <%# <div class="swiper-scrollbar"></div> %>
  </div>
  <!-- /Swiper -->
  <div class="index-info">
    <div class='info-box'>
      <div class='left-info'>
        <p>新着情報</p>
      </div>
      <div class='right-info'>
        <table>
      <thead>
        <tr>
          <%# <th class='th-valu'>日付</th>
          <th class='th-valu'>内容</th> %>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class='td-valu'>2020.11.7</td>
          <td class='td-valu'>寒くなってきました！</td>
        </tr>
        <tr>
          <td class='td-valu'>2020.11.7</td>
          <td class='td-valu'>よっぴさんが新しい本とマッチングしました！</td>
        </tr>
        <tr>
          <td class='td-valu'>2020.11.6</td>
          <td class='td-valu'>よっぴさんがプロフィールを編集しました！</td>
        </tr>
        <tr>
          <td class='td-valu'>2020.11.5</td>
          <td class='td-valu'>みなとさんが新規登録しました！</td>
        </tr>
        <tr>
          <td class='td-valu'>2020.11.5</td>
          <td class='td-valu'>よっぴさんが新規登録しました！</td>
        </tr>
      </tbody>
    </table>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class='left-bar'>
      <div class='left-cont'>

      </div>
    </div>
    <div class="personality">
      <div class="box-1">
        外向性
      </div>
      <div class="box-2">
        情緒安定性
      </div>
      <div class="box-3">
        開放性
      </div>
      <div class="box-4">
        勤勉性
      </div>
      <div class="box-5">
        協調性
      </div>
      <div class="box-6">
      </div>
    </div>
    <div class="right-bar">
      <div class='right-cont'>

      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>
