<%= render "shared/header" %>

<div class="main">
  <p class="space">-</p>
  <!-- Swiper -->
  <div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide"><%= image_tag 'vac.jpeg', class: 'sl-image' %></div>
        <div class="swiper-slide"><%= image_tag 'xri.jpeg', class: 'sl-image' %></div>
        <div class="swiper-slide"><%= image_tag 'black.jpeg', class: 'sl-image' %></div>
        <div class="swiper-slide"><%= image_tag 'sumasu.jpeg', class: 'sl-image' %></div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <%# <div class="swiper-scrollbar"></div> %>
  </div>
  <!-- /Swiper -->
  <div class="index-info">
    <div class='info-box'>
      <div class='left-info'>
        <p>新着情報</p>
      </div>
      <div class='light-info'>
        <p>2020.11.06.fri  営業時間のお知らせ</p>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class='left-bar'>
      <div class='left-cont'>

      </div>
    </div>
    <div class="personality">
      <div class="box-1"></div>
      <div class="box-2"></div>
      <div class="box-3"></div>
      <div class="box-4"></div>
      <div class="box-5"></div>
      <div class="box-6"></div>
    </div>
    <div class="right-bar">
      <div class='right-cont'>

      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>
