<%= render "shared/header" %>

<div class="main">
  <p class="space">-</p>
  <!-- Swiper -->
  <div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide"><%= image_tag 'vac.jpeg', class: 'sl-image' %></div>
        <div class="swiper-slide"><%= image_tag 'xri.jpeg', class: 'sl-image' %></div>
        <div class="swiper-slide"><%= image_tag 'black.jpeg', class: 'sl-image' %></div>
        <div class="swiper-slide"><%= image_tag 'sumasu.jpeg', class: 'sl-image' %></div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <%# <div class="swiper-scrollbar"></div> %>
  </div>
  <!-- /Swiper -->
  <div class="index-info">
    <div class='info-box'>
      <div class='left-info'>
        <p>新着情報</p>
      </div>
      <div class='right-info'>
        <table>
      <thead>
        <tr>
          <%# <th class='th-valu'>日付</th>
          <th class='th-valu'>内容</th> %>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class='td-valu'>2020.11.7</td>
          <td class='td-valu'>寒くなってきました！</td>
        </tr>
        <tr>
          <td class='td-valu'>2020.11.7</td>
          <td class='td-valu'>よっぴさんが新しい本とマッチングしました！</td>
        </tr>
        <tr>
          <td class='td-valu'>2020.11.6</td>
          <td class='td-valu'>よっぴさんがプロフィールを編集しました！</td>
        </tr>
        <tr>
          <td class='td-valu'>2020.11.5</td>
          <td class='td-valu'>みなとさんが新規登録しました！</td>
        </tr>
        <tr>
          <td class='td-valu'>2020.11.5</td>
          <td class='td-valu'>よっぴさんが新規登録しました！</td>
        </tr>
      </tbody>
    </table>
      </div>
    </div>
  </div>
  <div class='character'>
    <div class="chara-box">
      <p>簡単な質問に答えて、自分と似ている仲間を見つけよう！</p>
      <%= link_to 'スタート', new_character_path, class: "" ,data: {"turbolinks" => false} %>
      <p>あなたの好きなものについて聞かせてください！</p>
      <%= link_to 'スタート', new_favorite_path, class: "" ,data: {"turbolinks" => false} %>
    </div>
  </div>
  <% if user_signed_in? %>
  <div class="wrapper">
    <div class='left-bar'>
      <div class='left-cont'>

      </div>
    </div>
    <div class="personality">
      <div class="box-1">
        <p>あなたにおすすめの小説</p>
        <% if Character.exists?(user_id: @user.id) && Favorite.exists?(user_id: @user.id) %>
          <% @favo_match.each do |favo| %>
            「<%= favo.novel %>」
          <% end %>
        <% end %>
      </div>
      <div class="box-2">
        <p>あなたにおすすめの漫画</p>
        <% if Character.exists?(user_id: @user.id) && Favorite.exists?(user_id: @user.id) %>
          <% @favo_match.each do |favo| %>
            「<%= favo.comic %>」
          <% end %>
        <% end %>
      </div>
      <div class="box-3">
        <p>あなたにおすすめの映画</p>
        <% if Character.exists?(user_id: @user.id) && Favorite.exists?(user_id: @user.id) %>
          <% @favo_match.each do |favo| %>
            「<%= favo.movie %>」
          <% end %>
        <% end %>
      </div>
      <div class="box-4">
        <p>あなたにおすすめの音楽</p>
        <% if Character.exists?(user_id: @user.id) && Favorite.exists?(user_id: @user.id) %>
          <% @favo_match.each do |favo| %>
            「<%= favo.music %>」
          <% end %>
        <% end %>
      </div>
      <div class="box-5">
        <p>あなたにおすすめの趣味</p>
        <% if Character.exists?(user_id: @user.id) && Favorite.exists?(user_id: @user.id) %>
          <% @favo_match.each do |favo| %>
            「<%= favo.hobby %>」
          <% end %>
        <% end %>
      </div>
      <div class="box-6">

      </div>
    </div>
    <div class="right-bar">
      <div class='right-cont'>

      </div>
    </div>
  </div>
  <% else %>
  <div class="wrapper">
    <div class='perso-label'>
      <p class='plz-login'>ログインして全ての機能を開放しよう！
    </div>
    <div class='left-bar'>
      <div class='left-cont'>

      </div>
    </div>
    <div class="personality">
      <div class="box-1">
        <p>あなたにおすすめの小説</p>
      </div>
      <div class="box-2">
        <p>あなたにおすすめの漫画</p>
      </div>
      <div class="box-3">
        <p>あなたにおすすめの映画</p>
      </div>
      <div class="box-4">
        <p>あなたにおすすめの音楽</p>
      </div>
      <div class="box-5">
        <p>あなたにおすすめの趣味</p>
      </div>
      <div class="box-6">

      </div>
    </div>
    <div class="right-bar">
      <div class='right-cont'>

      </div>
    </div>
  </div>
  <% end %>
</div>

<%= render "shared/footer" %>
