<%= render "shared/header" %>

<div class="main">
  <p class="space">-</p>
  <!-- Swiper -->
  <div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide"><%= image_tag 'vac.jpeg', class: 'sl-image' %></div>
        <div class="swiper-slide"><%= image_tag 'xri.jpeg', class: 'sl-image' %></div>
        <div class="swiper-slide"><%= image_tag 'black.jpeg', class: 'sl-image' %></div>
        <div class="swiper-slide"><%= image_tag 'sumasu.jpeg', class: 'sl-image' %></div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <%# <div class="swiper-scrollbar"></div> %>
  </div>
  <!-- /Swiper -->
  <div class="index-info">
    <div class='info-box'>
      <div class='left-info'>
        <p>新着情報</p>
      </div>
      <div class='right-info'>
        <table>
      <thead>
        <tr>
          <%# <th class='th-valu'>日付</th>
          <th class='th-valu'>内容</th> %>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class='td-valu'>2020.11.7</td>
          <td class='td-valu'>寒くなってきました！</td>
        </tr>
        <tr>
          <td class='td-valu'>2020.11.7</td>
          <td class='td-valu'>よっぴさんが新しい本とマッチングしました！</td>
        </tr>
        <tr>
          <td class='td-valu'>2020.11.6</td>
          <td class='td-valu'>よっぴさんがプロフィールを編集しました！</td>
        </tr>
        <tr>
          <td class='td-valu'>2020.11.5</td>
          <td class='td-valu'>みなとさんが新規登録しました！</td>
        </tr>
        <tr>
          <td class='td-valu'>2020.11.5</td>
          <td class='td-valu'>よっぴさんが新規登録しました！</td>
        </tr>
      </tbody>
    </table>
      </div>
    </div>
  </div>
  <div class='character'>
    <div class="chara-box">
      <p class='kantan'>まずは簡単な質問に答えて、自分と似ている仲間を見つけよう！</p>
      <%= link_to 'スタート', new_character_path, class: "kan-btn sin-btn" ,data: {"turbolinks" => false} %>
      <p class='sukina'>次にあなたの好きなものについて聞かせてください！</p>
      <%= link_to 'スタート', new_favorite_path, class: "suk-btn sin-btn" ,data: {"turbolinks" => false} %>
    </div>
  </div>
  <% if user_signed_in? %>
  <div class="wrapper">
    <div class='left-bar'>
      <div class='left-cont'>
      <% if Character.exists?(user_id: @user.id) && Favorite.exists?(user_id: @user.id) %>
        <%# 外向性 %>
          <div class='percu-name'><%= current_user.name %></div>
          <div class='percu-result'>外向性: <%= @curr_cha.extra %> / 10</div>
          <meter value="<%= @curr_ext %>"></meter>
        <%# 神経質傾向 %>
          <div class='percu-result'>神経質傾向: <%= @curr_cha.nervous %> / 10</div>
          <meter value="<%= @curr_ner %>"></meter>
        <%# 誠実生 %>
          <div class='percu-result'>誠実生: <%= @curr_cha.honesty %> / 10</div>
          <meter value="<%= @curr_hon %>"></meter>
        <%# 協調性 %>
          <div class='percu-result'>協調性: <%= @curr_cha.harmony %> / 15</div>
          <meter value="<%= @curr_har %>"></meter>
        <%# 挑戦力 %>
          <div class='percu-result'>挑戦力: <%= @curr_cha.openness %> / 15</div>
          <meter value="<%= @curr_ope %>"></meter>
          <div class='tyuui'>※診断結果は100％正確ではありません。</div>
          <div class='tyuui'>※あくまでも参考程度にご覧ください。</div>
        <% else %>
          <p class='tikashi'>あなたのプロフィール</p>
        <% end %>
      </div>
    </div>
    <div class="personality">
      <div class="box-1">
        <p class="per-title">あなたにおすすめの小説</p>
        <% if Character.exists?(user_id: @user.id) && Favorite.exists?(user_id: @user.id) %>
          <% @favo_match.each do |favo| %>
            <% if favo.novel == "特になし"%>
              <% favo.novel = "" %>
            <% else %>
              <% favo.novel = "『#{favo.novel}』"%>
            <% end %>
            <% if favo.user_id == @user.id %>
              <% favo.novel = "" %>
            <% end %>
            <p><%= link_to favo.novel, "https://www.google.com/search?q=#{favo.novel}", class: "favo-link" %></p>
          <% end %>
        <% end %>
      </div>
      <div class="box-2">
        <p class="per-title">あなたにおすすめの漫画</p>
        <% if Character.exists?(user_id: @user.id) && Favorite.exists?(user_id: @user.id) %>
          <% @favo_match.each do |favo| %>
            <% if favo.comic == "特になし"%>
              <% favo.comic = "" %>
            <% else %>
              <% favo.comic = "『#{favo.comic}』"%>
            <% end %>
            <% if favo.user_id == @user.id %>
              <% favo.comic = "" %>
            <% end %>
            <p><%= link_to favo.comic, "https://www.google.com/search?q=#{favo.comic}", class: "favo-link" %></p>
          <% end %>
        <% end %>
      </div>
      <div class="box-3">
        <p class="per-title">あなたにおすすめの映画</p>
        <% if Character.exists?(user_id: @user.id) && Favorite.exists?(user_id: @user.id) %>
          <% @favo_match.each do |favo| %>
            <% if favo.movie == "特になし"%>
              <% favo.movie = "" %>
            <% else %>
              <% favo.movie = "『#{favo.movie}』"%>
            <% end %>
            <% if favo.user_id == @user.id %>
              <% favo.movie = "" %>
            <% end %>
            <p><%= link_to favo.movie, "https://www.google.com/search?q=#{favo.movie}", class: "favo-link" %></p>
          <% end %>
        <% end %>
      </div>
      <div class="box-4">
        <p class="per-title">あなたにおすすめの音楽</p>
        <% if Character.exists?(user_id: @user.id) && Favorite.exists?(user_id: @user.id) %>
          <% @favo_match.each do |favo| %>
            <% if favo.music == "特になし"%>
              <% favo.music = "" %>
            <% else %>
              <% favo.music = "『#{favo.music}』"%>
            <% end %>
            <% if favo.user_id == @user.id %>
              <% favo.music = "" %>
            <% end %>
            <p><%= link_to favo.music, "https://www.google.com/search?q=#{favo.music}", class: "favo-link" %></p>
          <% end %>
        <% end %>
      </div>
      <div class="box-5">
        <p class="per-title">あなたにおすすめの趣味</p>
        <% if Character.exists?(user_id: @user.id) && Favorite.exists?(user_id: @user.id) %>
          <% @favo_match.each do |favo| %>
            <% if favo.hobby == "特になし"%>
              <% favo.hobby = "" %>
            <% else %>
              <% favo.hobby = "『#{favo.hobby}』"%>
            <% end %>
            <% if favo.user_id == @user.id %>
              <% favo.hobby = "" %>
            <% end %>
            <p><%= link_to favo.hobby, "https://www.google.com/search?q=#{favo.hobby}", class: "favo-link" %></p>
          <% end %>
        <% end %>
      </div>
      <div class="box-6">

      </div>
    </div>
    <div class="right-bar">
      <div class='right-cont'>
        <div class='tikashi'>あなたと性格が近しい人</div>
        <% if Character.exists?(user_id: @user.id) && Favorite.exists?(user_id: @user.id) %>
          <% @user_match.each do |user|%>
            <% if user.id == @user.id %>
              <% user.name = "" %>
            <% else %>
              <% user.name = user.name + 'さん' %>
            <% end %>
            <p class='mause-name'><%= link_to user.name, "#", data: {"turbolinks" => false}, class: "" %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <% else %>
  <div class="wrapper">
    <div class='perso-label'>
      <p class='plz-login'>ログインして『あなたにおすすめ』をチェックしよう！
    </div>
    <div class='left-bar'>
      <div class='left-cont'>
        <p class='tikashi'>あなたのプロフィール</p>
      </div>
    </div>
    <div class="personality">
      <div class="box-1">
        <p>あなたにおすすめの小説</p>
      </div>
      <div class="box-2">
        <p>あなたにおすすめの漫画</p>
      </div>
      <div class="box-3">
        <p>あなたにおすすめの映画</p>
      </div>
      <div class="box-4">
        <p>あなたにおすすめの音楽</p>
      </div>
      <div class="box-5">
        <p>あなたにおすすめの趣味</p>
      </div>
      <div class="box-6">

      </div>
    </div>
    <div class="right-bar">
      <div class='right-cont'>
        <p class='tikashi'>あなたと性格が近しい人</p>
      </div>
    </div>
  </div>
  <% end %>
</div>

<%= render "shared/footer" %>
