<div class='footer'>
  <p>参考文献</p>
  <p class="bunken">Gough,H.G.,＆Heilvrun,1983　The adjective check list mannual. 1983ed. palo Alto,C.A.</p>
  <div class='footer-contents'>
    <div class='furima-details'>
      <h2 class='footer-content-head'>MyColorについて</h2>
      <ul>
        <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to 'MyColor利用規約', "#", class: "footer-link" %></li>
        <li><%= link_to 'ポイントに関する特約', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>MyColorを見る</h2>
      <ul>
        <li><%= link_to 'カテゴリー一覧', "#", class: "footer-link" %></li>
        <li><%= link_to 'タグ一覧', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>MyColorについて</h2>
      <ul>
        <li><%= link_to 'MyColorガイド', "#", class: "footer-link" %></li>
        <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <p>© MyClor</p>
</div>